<div class="container">
    <% if (page.path == "index.html") { %>
    <div class="hero">
        <div class="group">
            <!-- <h2 class="large"><%- config.descriprion_second %></h2> -->
            <h2 class="large"><%- config.description %></h2>
            <h2 class="sub"><%= config.subtitle %></h2>
        </div>
    </div>


    <% } %>

    <%- partial('_partial/paginator') %>
</div>