[submodule "Owner-Avatar-Fundamentals-Of-Open-Systems-Interoperability/Задание 3/themes/hexo-theme-cupertino"]
	path = Owner-Avatar-Fundamentals-Of-Open-Systems-Interoperability/Задание 3/themes/hexo-theme-cupertino
	url = https://github.com/MrWillCom/hexo-theme-cupertino.git
