[submodule "Owner-Avatar-Fundamentals-Of-Open-Systems-Interoperability/Задание 3/themes/hexo-theme-cupertino"]
	path = Owner-Avatar-Fundamentals-Of-Open-Systems-Interoperability/Задание 3/themes/hexo-theme-cupertino