[submodule "Owner-Avatar-Fundamentals-Of-Open-Systems-Interoperability"]
	path = Owner-Avatar-Fundamentals-Of-Open-Systems-Interoperability
	url = https://github.com/RubyDes/Owner-Avatar-Fundamentals-Of-Open-Systems-Interoperability.git
